html{
    background-image: url('../img/pokemon\ background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
#topheader{
    background-color: #fe9126;
    color: #ffffff;
    height: 80px;
    font-size: 20px;
}
#topMenu{
    font-size: 20px;
    color: white;
}
main{
    color: white;
}

#formulario{
    background-image: url('../img/Registrar\ Pokemon.png');
    background-repeat: no-repeat;
    background-size: 400px;
    color: black;
    width: 400px;
    border: 10px solid gray;
    padding-top: 0px;
    margin-top: 220px;
    margin-left: 760px;
    padding-bottom: 280px;
    font-size: 18px;
    position: absolute;   
}
#header1{
   margin-top: 75px;
   margin-left: 15px;
   position: absolute; 
}
#datos{
    margin-top: 60px;
    margin-left: 15px;
    position: absolute;
}
#txtImagen{
    margin-top: 228px;
    margin-left: 20px;
    position: absolute;
}
#botonRegistrar{
    margin-left: 212px;
    margin-top: 25px;
    position: absolute;
    height: 300px;
}
#btnSeleccionarImagen{
    background-image: url(../img//empty\ image.svg);
    background-size: 200px;
    margin-bottom: 0px;
    margin-left: 20px;
    width:150px;
    height: 190px;
    
}
#btnRegistrarPokemon{
   
    height: 30px;
    background-color: blue;
    color: white;
   font-size: 110%;
    font-family:'Roboto', sans-serif;
    width: 30%;
    margin-left: 120px;
    margin-top: 300px;
    position: absolute;
    line-height: 180%;
    border-radius: 55px 55px 55px 55px;
    -moz-border-radius: 55px 55px 55px 55px;
    -webkit-border-radius: 55px 55px 55px 55px;
    border: 0px solid #ffffff;

}
.errorInput{
    border: 2px solid #d63031;
}