html{
    background-image: url('../img/pokemon_go_hd-1920x1080.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 10px;
}
#TopHeader h1{
    position: absolute;
    margin-left: 46.5%;
    font-size: 35px;
    padding-top: 33px;
}
#TopHeader h2{
    
    position: absolute;
    margin-left: 80%;
    font-size: 22px;
    padding-top: 40px;
}
#logo{
    width: 150px;
    height: 150px;
    margin-top: -60px;
    margin-left: 10px;
    position: absolute;
}
header nav {
    background-color:gray ;
    border: 1px solid #000000; 
    height: 51px;
    font-size: 20px;
    text-decoration: none; 
  }
header nav a:hover{
    color: white;
}
#TopMenu{
    margin-top: 15px;
    text-align: center;  
}
#TopMenu a{
    padding-left: 15px;
    text-decoration: none;
    color: black;
}
#TopMenu a:hover{
    color: white;
}
main{
    color: white;
}
#txtPokemon{
    padding-left: 430px;
    padding-top: 480px;
    position: absolute;
}
#txtEntrenador{
    padding-left: 1300px;
    padding-top: 480px;
    position: absolute;
}
#botonPokemon{
    padding-left: 300px;
    padding-top: 500px;
    position: absolute;
}
#botonEntrenador{
    padding-left: 1300px;
    padding-top: 480px;
    position: absolute;
}
#imgEntrenador{
    border-radius: 50%;
    width:65%;
    height: 65%;
}