html{
    background-image: url('../img/pokeball_simple_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

#TopHeader h1{
    position: absolute;
    margin-left: 46.5%;
    font-size: 35px;
    padding-top: 33px;
}
#TopHeader h2{
    
    position: absolute;
    margin-left: 80%;
    font-size: 22px;
    padding-top: 40px;
}
#logo{
    width: 150px;
    height: 150px;
    margin-top: -60px;
    margin-left: 10px;
    position: absolute;
}
header nav {
    background-color:gray ;
    border: 1px solid #000000; 
    height: 51px;
    font-size: 20px;
    text-decoration: none; 
  }
header nav a:hover{
    color: white;
}
#TopMenu{
    margin-top: 15px;
    text-align: center;  
}
#TopMenu a{
    padding-left: 15px;
    text-decoration: none;
    color: black;
}
#TopMenu a:hover{
    color: white;
}
main{
    color: white;
}
#bordeEntrandor1{
    padding-left: 0px;
    padding-top: 0;
    position: absolute;
    width: 100%;
    height: 200px;
}
#bordeEntrandor2{
    padding-left: 0px;
    padding-top: 700px;
    position: absolute;
    width: 100%;
    height: 200px;
}
#Profesor{
    padding-left: 1300px;
    padding-top: 300px;
    position: absolute;
}
#Profesor2{
    padding-left: 350px;
    padding-top: 300px;
    position: absolute;
}
#background{
    
    margin-top: 240px;
    margin-left: 0px;
    position: absolute;
    width: 400px;
    height: 400px;   
}
#formulario{
    background-image: url('../img/Registry\ Background.png');
    color: white;
    width: 350px;
    border: 10px solid gray;
    padding-top: 0px;
    margin-top: 220px;
    margin-left: 775px;
    font-size: 20px;
    position: absolute;   
}
#btnSeleccionarImagen{
    background-image: url(../img//empty\ image.svg);
    margin-bottom: 0px;
    margin-left: 20px;
    width:150px;
    height: 130px;
    
}
#btnRegistrarEntrenador{
   
    height: 50px;
    background-color: #212121;
    color: white;
   font-size: 110%;
    font-family:'Roboto', sans-serif;
    width: 30%;
    margin-left: 120px;
   
    position: relative;
    line-height: 180%;
    border-radius: 55px 55px 55px 55px;
    -moz-border-radius: 55px 55px 55px 55px;
    -webkit-border-radius: 55px 55px 55px 55px;
    border: 0px solid #ffffff;

}
.errorInput{
    border: 2px solid #d63031;
}